$TTL 30M
{{ domain }}.	IN	SOA	ns1.{{ domain }}. webmaster.{{ domain }}. (
			1055026229
			6H
			1H
			1209600
			20M )

{# Add the parent domain #}
{% if ipv4[0] %}{{ domain }}.        IN    A     {{ ipv4[0] }}{% endif %}
{% if ipv6[0] %}{{ domain }}.        IN    AAAA     {{ ipv6[0] }}{% endif %}

{# Add the IPv4 Name Server A Records #}
{% for key, value in enumerate(ipv4) %}
    ns{{ key + 1 }}.{{ domain }}.    IN    A     {{ value }}
{% endfor %}

{# Add the IPv6 Name Server AAAA Records #}
{% for key, value in enumerate(ipv6) %}
    ns{{ key + 1 }}.{{ domain }}.    IN    AAAA     {{ value }}
{% endfor %}

{# Add the Name Server NS Records #}
{% for key in range(nscount) %}
    {{ domain }}.                    IN    NS    ns{{ key + 1 }}.{{ domain }}.
{% endfor %}

{# Add the Standard Subdomain Records #}
{% for std_subdomain in std_subdomains %}
    {% if ipv4[0] %}{{ std_subdomain }}.{{ domain }}.   IN    A     {{ ipv4[0] }}{% endif %}
    {% if ipv6[0] %}{{ std_subdomain }}.{{ domain }}.   IN    AAAA     {{ ipv6[0] }}{% endif %}
{% endfor %}

{# Add the mail Records #}
{% if ipv4[0] %}mail.{{ domain }}.   IN    A     {{ ipv4[0] }}{% endif %}
{% if ipv6[0] %}mail.{{ domain }}.   IN    AAAA     {{ ipv6[0] }}{% endif %}
mail.{{ domain }}.   IN    MX    1 {{ domain }}.
{{ domain }}.        IN    MX    1 {{ domain }}.

{# Add some subdomains #}
{% for sub_domain in sub_domains %}
    {% set ipv4_value, ipv6_value, sub_domain_name = (None, None, sub_domain['subdomain']) %}
    {% if sub_domain.get('ip_address_v4') %}
        {% set ipv4_value = sub_domain['ip_address_v4'] %}
    {% else %}
        {% set ipv4_value = ipv4[0] %}
    {% endif %}
    {% if sub_domain.get('ip_address_v6') %}
        {% set ipv6_value = sub_domain['ip_address_v6'] %}
    {% else %}
        {% set ipv6_value = ipv6[0] %}
    {% endif %}


    {% if ipv4_value %}{{ sub_domain_name }}.{{ domain }}.   IN    A     {{ ipv4_value }}{% endif %}
    {% if ipv6_value %}{{ sub_domain_name }}.{{ domain }}.   IN    AAAA     {{ ipv6_value }}{% endif %}

    {# Add the mail Records #}
    {% if ipv4_value %}mail.{{ sub_domain_name }}.{{ domain }}.   IN    A     {{ ipv4_value }}{% endif %}
    {% if ipv6_value %}mail.{{ sub_domain_name }}.{{ domain }}.   IN    AAAA     {{ ipv6_value }}{% endif %}
    mail.{{ sub_domain_name }}.{{ domain }}.   IN    MX    1 {{ domain }}.
    {{ sub_domain_name }}.{{ domain }}.        IN    MX    1 {{ domain }}.

    {# Add the Standard Subdomain Records #}
    {% for std_subdomain in std_subdomains %}
        {% if ipv4_value %}{{ std_subdomain }}.{{ sub_domain_name }}.{{ domain }}.   IN    A     {{ ipv4_value }}{% endif %}
        {% if ipv6_value %}{{ std_subdomain }}.{{ sub_domain_name }}.{{ domain }}.   IN    AAAA     {{ ipv6_value }}{% endif %}
    {% endfor %}
{% endfor %}
